@font-face {
    font-family: 'karlaregular';
    src: url('karla-regular-webfont.woff2') format('woff2'),
         url('karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #062863;
    font-family: 'karlaregular';
}

.logo-1 {
    /* border: #fff 1px solid; */
    position: fixed;
    left: 0;
    margin-left: -10px;
    margin-top: -35px;
}

.logo-2 {
    /* border: #fff 1px solid; */
    position: fixed;
    right: 0;
    margin-right: -100px;
    margin-top: 30px;
}

.logo-3 {
    /* border: #fff 1px solid; */
    position: fixed;
    left: -5;
    bottom: 0;
    margin-left: -60px;
    margin-bottom: -45px;
}

.logo-4 {
    /* border: #fff 1px solid; */
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: -75px;
    margin-bottom: -25px;
}

.site-logo {
    text-align: center;
    margin-top: -40px;
}

.form-wrapper {
    text-align: center;
    margin-top: -40px;
}
.form-container {
    text-align: center;
    border-radius: 20px 20px 20px 0 ;
    background-color: #ffffff;
    padding: 20px;
    max-width: 400px;
    display: inline-block;
}

.form-header {
    padding-top: 5px;
}

.title {
    font-size: 24px;
    font-family: 'karlaregular';
    color: #062863;
}

.subtitle {
    font-size: 14px;
    font-family: 'karlaregular';
}

.input-div {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
}

.input-div label {
    font-size: 12px;
}

.input-style {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

.input-select-style {
    width: 100%;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
    border-radius: 5px;
}

.input-select-style option{
    width: 100%;
    padding: 1rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
}

.input-button-style {
    margin-top: 25px;
    margin-bottom: 30px;
    width: 92%;
    padding: 1rem;
    border-radius: 10px 10px 10px 0;
    border: 1px solid rgb(8, 62, 158);
    background-color: rgb(8, 62, 158);
    color: #ffffff;
}

.input-button-style:hover {
    background-color: rgb(3, 42, 109);
}


/*
    background-color: #2b2dad;
    color: #ffffff;
} */

.input-select {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
}

.link {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    color: #ffffff;
}


.a-style {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}  

.a-style:hover {
   color:#f0f4f88f;
}
    